/* SOURCE: https://codepen.io/colinlord/pen/bERrgJ */

span.stars,
span.stars span {
  display: block;
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Font_Awesome_5_regular_star_grey.svg/512px-Font_Awesome_5_regular_star_grey.svg.png) 0 0 repeat-x;
  width: 5rem;
  /* width of a star multiplied by 5 */
  height: 1rem;
  /* the height of the star */
  background-size: 1rem 1rem;
}

span.stars span {
  background-position: 0 0;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/747/star.svg);
}

.btn i.fa-check {
  opacity: 0;
}

.btn.active i.fa-check {
  opacity: 1;
}

.img-wrap {
  width: auto;
  height: 25rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.img-wrap > img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  transform: translate(-50%, -50%);
}


@media all and (max-width: 576px) {
  .card-xs {
    width: 100% !important;
  }
  .card-responsive-width {
    width: 99vw !important
  }
}

@media all and (min-width: 577px) and (max-width: 768px) {
  .card-xs {
    width: 50% !important;
  }
  .card-responsive-width {
    width: 98vw !important
  }
}

@media all and (min-width: 769px) and (max-width: 1000px) {
  .card-responsive-width {
    width: 97vw !important
  }
}

@media all and (min-width: 1001px) {
  .card-responsive-width {
    width: 90vw !important
  }
}